absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
attrs
augmax
av
beartype
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
chex
click
cloudpickle
cmake
crc32c
datasets
decorator
deepdiff
diffusers
dill
dm-tree
docstring_parser
donfig
draccus
einops
equinox
etils
evdev
Farama-Notifications
filelock
Flask
flatbuffers
flax
frozenlist
fsspec
gcsfs
gdown
gitdb
GitPython
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
gymnasium
h5py
hf-xet
huggingface-hub
humanize
idna
imageio
imageio-ffmpeg
importlib_metadata
importlib_resources
itsdangerous
jax
jax-cuda12-pjrt
jax-cuda12-plugin
jaxlib
jaxtyping
Jinja2
jsonlines
# lerobot @ git+https://github.com/huggingface/lerobot@0cf864870cf29f4738d3ade893e6fd13fbd7cdb5
llvmlite
markdown-it-py
MarkupSafe
mdurl
mergedeep
ml_collections
ml_dtypes
moviepy
mpmath
msgpack
multidict
multiprocess
mypy_extensions
nest-asyncio
networkx
numba
numcodecs
numpy
numpydantic
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvcc-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
omegaconf
opencv-python
opencv-python-headless
# -e git+https://github.com/xjz-tech/openpi.git@66dbde5240b8ce9f05ac039cfaf460bebdcb05cd#egg=openpi
# -e git+https://github.com/xjz-tech/openpi.git@66dbde5240b8ce9f05ac039cfaf460bebdcb05cd#egg=openpi_client&subdirectory=packages/openpi-client
opt_einsum
optax
orbax-checkpoint
orderly-set
packaging
pandas
pillow
platformdirs
polars
proglog
propcache
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
pymunk
pynput
PySocks
python-dateutil
python-xlib
pytz
PyYAML
pyyaml-include
pyzmq
regex
requests
requests-oauthlib
rerun-sdk
rich
rsa
safetensors
scipy
sentencepiece
sentry-sdk
shtab
simplejson
six
smmap
soupsieve
svgwrite
sympy
tensorstore
termcolor
tokenizers
toml
toolz
torch
torchcodec
torchvision
tqdm
tqdm-loggable
transformers
Tree
treescope
triton
typeguard
typing-inspect
typing-inspection
typing_extensions
tyro
tzdata
urllib3
uv
wadler_lindig
wandb
websockets
Werkzeug
wrapt
xxhash
yarl
zarr
zipp
